# Created by .ignore support plugin (hsz.mobi)
/target/classes
/ExtentReports
/logs
src/test/
CS_PORTAL.iml
.idea/.gitignore
.idea/compiler.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/qaplug_profiles.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/libraries/
.idea/modules.xml
.idea/shelf/
.idea/workspace.xml
.idea
CS_PORTAL.iml
/target/generated-sources/
/target/maven-status/
